h1{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: Comic Sans MS;
}
a{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(	0, 0, 0);
    display: block;
    text-align: center;
    font-family: Comic Sans MS;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(	0, 0, 0);
    font-size: 20px;
    font-family: Comic Sans MS;
}
body{
    background-image:url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.one{
    background-image:url(f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.two{
    background-image:url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.three{
    background-image:url(t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.four{
    background-image:url(p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.five{
    background-image:url(b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
